body
{
    background-color: white;
}
h1{
    
    font-size: 40px;
    margin-left: 160px;
    margin-bottom: 10px;
}
h2
{
    font-size: 30px;
    margin-bottom: 0px;
}
p2
{
    color: rgb(47, 219, 193);
    font-size: 30px;
    font-family:'canela deck';
    font-style: light italic;
    font-weight: 400px;
    margin-left: 160px;
    margin-bottom: 20px;
}
p{
    color: rgb(171, 174, 169);
    font-size: 30px;
    margin-left: 220px;
    margin-bottom: 20px;
}
p1
{
    font-size: 30px;
    margin-left: 220px;
    margin-bottom: 10px;

}
p4
{
    font-size: 30px;
    margin-left: 220px;
    margin-bottom: 30px;

}
h2
{
    margin-top: 20px;
    font-family:'canela deck';
    font-style: light italic;
}
.main
{
    display: flex;
    background-color: rgb(168, 241, 230);;
    padding: 25px;
   
}
.text1
{
    margin-bottom: 10px;
}


.nav
{
    color:black;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 750px;
    word-spacing: 70px;
    font-family:'canela deck';
    font-style: light italic;
    font-weight: bolder;
}
.nav a{
    word-spacing: 30px;
   
    text-decoration: none;
    color: black;
}

.img
{
    margin-top: 100px;

    width:75%;
}
.container
{
    display:flex;

}
.container .layout
{
   flex-basis: 90%;
}
.btn
{
    font-size: 25px;
    padding:15px;
    margin-top: 30px;
    margin-left: 400px;
    color:white;
    font-family:'canela deck';
    font-style: light italic;

    border-radius: 70px 80px 70px 60px;
    background-color:rgb(37, 68, 73);
}
.btn:hover
{
    background-color: #ffff00;
}
.img
{
    width: 300px;
    border-radius: 100px 30px 30px 300px;
    border: circle;
}
.icons
{
   
    word-spacing: 60px;
    color: #020302;
    margin-top: 60px;
    margin-left: 280px;
    font-size: 50px;
}
/*.main
{
    background-color: antiquewhite;
}
.container
{
    background-color: rgb(234, 234, 223);
}*/
#Project 
{
    font-family:'canela deck';
    font-style: light italic;
    font-weight: 600;
    margin-top: 80px;
    color:rgb(37, 68, 73);
    margin-left: 50px;
    font-size: 50px;
    margin-bottom: 50px;
}
.det
{
font-size: 35px;
margin-left: 600px;
color:  rgb(171, 174, 169);
margin-top: 40px;

    
    
}
.work
{
    height: auto;
    margin-top: 50px;
    margin-left: 30px;
    width:40%;
    
}
.det{
    position:absolute;
    top:2200px;
    left:30px;
    margin-left: 750px;
}
.img1
{
    margin-top: 70px;
}
p6
{
    margin-bottom:70px;
    font-size: 40px;
    margin-left:40px ;
    border-bottom: 4px solid red;
    border-radius: 6px;
   
}
.img2
{
    margin-top: 100px;
}
p5
{
   position: absolute;
   top:2060px;
    left:30px;
    margin-left: 40px;
    border-bottom: 4px solid red;
    border-radius: 6px;
    
    font-size: 40px;
   

   
}
.img3
{
    margin-top: 100px;

}
p4
{
position: absolute;
   top:2540px;
    left:30px;
    margin-left: 40px;
    border-bottom: 4px solid red;
    border-radius: 6px;
    
    font-size: 40px;
}
p3
{
    position:absolute;
    font-size: 40px;
    top:2150px;
    left:30px;
    margin-left: 750px;
    color: #6bd1da;
    margin-bottom: 40px;
    font-family:'canela deck';
    font-style: light italic;

}
#contact
{
    font-family:'canela deck';
    font-style: light italic;
    font-weight: 600;
    margin-top: 80px;
    color:rgb(37, 68, 73);
    margin-left: 50px;
    font-size: 50px;
    margin-bottom: 50px;

}
#contact{
    margin-left: 600px;
    border-bottom: 6px solid red;
    border-radius: 6px;
    margin-right: 550px;
    
}
.icon1
{
    margin-top: 100px;
    margin-left: 340px;
    font-size: 80px;
    word-spacing: 250px;

}
p7{
   
    position:absolute;
    top:4030px;
    left: 130px;
    right: 900px;
 margin-left: 80px;
 font-size: 25px;
}
p8
{
    
    position:absolute;
    top:3960px;
    left: 130px;
    right: 800px;
    margin-left: 170px;
 color: gray;
 font-size: 40px;

}
p9
{
     
    position:absolute;
    top:3960px;
    left: 480px;
    
    margin-left: 170px;
 color: gray;
 font-size: 40px;
}
p10
{
    position:absolute;
    top:4030px;
    left: 550px;
   
 margin-left: 80px;
 font-size: 25px;

}
p11
{
    position:absolute;
    top:3960px;
    left: 840px;
    
    margin-left: 170px;
 color: gray;
 font-size: 40px;

}
.Email
{
    text-decoration: none;
    position:absolute;
    top:4030px;
    left: 800px;
   
 margin-left: 80px;
 font-size: 25px;


}
p12{
    position: absolute;
    font-size: 30px;
    top:4200px;
    margin-bottom: 700px;
}
